html {
  --white: #ffffff;
  --gray-white: #EAEAEA;
  --red: #AC1302;
  --orange: #FF7A06;
  --charcoal: #323637;
  --darkchar: #202123;
  --gray: #777777;
  --black: black;
  scroll-behavior: smooth;

  --textbody: 'manrope', Arial, sans-serif;
  --texttitle: 'manropebold', Arial, sans-serif;
  --cursive: 'cursive'; 

}

body {
    p, li {
      font-family: var(--textbody);
      font-size: 16px;
      line-height: 30px;
      letter-spacing: 1px;
      color: var(--white);
    }
}



.recipebody {
    margin: 10px 0 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .blktxt {
        color: var(--white);
    }

    .cookingbody {


        .textcenter {
            background-color: var(--white);
            justify-items: center;
            align-content: center;
        }

        h1 {
            font-family: var(--texttitle);
            color: var(--orange);
            margin-bottom: 0;
        }

        .sub {
            color: var(--black);
            margin-top: 2px;
        }
    }

    .mainimg {
        width: 100vw;
        height: auto;
        margin: 0;
        aspect-ratio: 16 / 5; 
        object-fit: cover;
    }

    .txt {
        width: 1000px;
        margin: 20px;

    }

    .gry {
        font-family: var(--cursive);
        color: var(--gray);
    }
    

    .txtimg {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: 400px;
        }
    }

    .tools {
        background-color: var(--white);
        padding: 20px;
        width: 100%;
        min-height: 400px;
        height: fit-content;
        border-radius: 25px;
        color: var(--black);
        display: flex;
        flex-direction: row;

        .toolsinfo {
            padding: 20px;

            p {
                color: var(--black);
            }

        }

        img {
            width: 400px;
            border-radius: 15px;
            object-fit: cover;
        }
    }


    .steps {
        width: 1250px;

        .stepsin {
            display: flex;
            gap: 20px;
            margin: 30px;

            .stepnumb {
                font-family: var(--textbody);
                color: var(--orange);
            }

        }
    }

    .all {
        background-color: var(--charcoal);
        border-radius: 25px;
        padding: 40px;
    }


    .enjoy {
        justify-items: center;
        margin: 60px;
        img {
            width: 400px;
            border-radius: 15px;
            object-fit: cover;
        }

        h2 {
            color: var(--white);
        }
    }


}







/* Large Desktops */
@media (max-width: 1400px) {
  .recipebody {
    .txt {
      max-width: 900px;
      width: 100%;
    }

    .steps {
      max-width: 900px;
      width: 100%;
    }

    .all {
      max-width: 900px;
      width: 100%;
    }

    .txtimg img {
      width: 350px;
    }

    .tools img {
      width: 350px;
    }

    .textcenter {
      max-width: 100vw;
      width: 100%;
      
      h1 {
        font-size: 42px;
      }
      
      .sub {
        font-size: 18px;
      }
    }

    .mainimg {
      margin: 0;
    }

    .enjoy img {
      width: 350px;
    }
  }
}

/* Big Tablets */
@media (max-width: 1024px) {
  .recipebody {
    padding: 0 40px;

    .txt {
      max-width: 700px;
      width: 100%;
    }

    .steps {
      max-width: 700px;
      width: 100%;
    }

    .all {
      max-width: 700px;
      width: 100%;
    }

    .textcenter {
      max-width: 100vw;
      width: 100%;
      
      h1 {
        font-size: 36px;
      }
      
      .sub {
        font-size: 16px;
      }
    }

    .mainimg {
      margin: 0;
    }

    .txtimg {
      flex-direction: column;
      text-align: center;
      gap: 20px;
      
      img {
        width: 100%;
        max-width: 500px;
      }
    }

    .tools {
      flex-direction: column;
      align-items: center;
      height: auto;
      gap: 20px;

      img {
        width: 100%;
        max-width: 500px;
      }
    }

    .stepsin {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    .enjoy {
      margin: 40px;
      
      img {
        width: 300px;
      }
    }
  }

  .all {
    padding: 30px;
  }
}

/* Small Tablets */
@media (max-width: 770px) {
  .recipebody {
    width: 100%;
    padding: 0 30px;

    .cookingbody {
      width: 100vw;
    }

    .txt {
      max-width: 600px;
      width: 100%;
    }

    .steps {
      max-width: 600px;
      width: 100%;
    }

    .all {
      max-width: 700px;
      width: 100%;
    }

    .textcenter {
      max-width: 100vw;
      width: 100%;
      
      h1 {
        font-size: 32px;
      }
      
      .sub {
        font-size: 15px;
      }
    }

    .mainimg {
      margin: 0;
    }

    .tools {
      padding: 15px;

      img {
        max-width: 400px;
      }
    }

    .enjoy {
      margin: 30px;
      
      img {
        width: 250px;
      }
    }
  }

  .all {
    padding: 25px;
  }
}

/* Mobile screens */
@media (max-width: 550px) {
  .recipebody {
    margin-top: 0;
    padding: 0 20px;

    .cookingbody {
      margin-top: 40px;
    }

    .txt {
      max-width: 100%;
      width: 100%;
      margin: 15px 0;
    }

    .steps {
      max-width: 100%;
      width: 100%;
    }

    .all {
      max-width: 100%;
      width: 100%;
      padding: 2px;
      border-radius: 10px;
      background-color: transparent;
    }

    .textcenter {
      max-width: 100%;
      width: 100%;
      
      h1 {
        font-size: 28px;
      }
      
      .sub {
        font-size: 14px;
      }
    }

    .mainimg {
      aspect-ratio: 16 / 9;
      margin: 0;
    }

    .txtimg {
      flex-direction: column;
      gap: 15px;
      
      img {
        width: 100%;
      }
    }

    .tools {
      padding: 15px;
      border-radius: 15px;
      flex-direction: column;
      min-height: auto;

      img {
        width: 100%;
      }
    }

    .steps {
      .stepsin {
        margin: 20px 0;
        gap: 10px;
      }
    }

    .enjoy {
      margin: 30px 0;
      
      img {
        width: 100%;
      }
    }

   
  }

  body p, body li {
    font-size: 14px;
    line-height: 26px;
  }
}

/* Extra Small Mobile */
@media (max-width: 360px) {
  .recipebody {
    padding: 0 15px;

    .textcenter {
      h1 {
        font-size: 24px;
      }
      
      .sub {
        font-size: 13px;
      }
    }

    .tools {
      padding: 10px;
    }

    .steps .stepsin {
      margin: 15px 0;
    }

    .enjoy {
      margin: 20px 0;
    }

    .all {
      padding: 10px;
    }
  }

  body p, body li {
    font-size: 13px;
    line-height: 24px;
  }
}