@font-face {
    font-family: "manrope";
    src: url("resources/font/Manrope-Regular.ttf");
    font-style: normal;
    font-display: swap;
    font-weight: 200 800;
}
  
@font-face {
font-family: "manropebold";
src: url("resources/font/Manrope-Bold.ttf");
font-style: normal;
font-display: swap;
font-weight: 200 800;
}

@font-face {
font-family: "cursive";
src: url("resources/font/AnandaBlackPersonalUseRegular-rg9Rx.ttf");
font-style: normal;
font-display: swap;
font-weight: 200 800;
}

html {
  --white: #ffffff;
  --gray-white: #EAEAEA;
  --red: #AC1302;
  --orange: #FF7A06;
  --charcoal: #323637;
  --darkchar: #202123;
  --gray: #777777;
  --black: black;
  scroll-behavior: smooth;

  --textbody: 'manrope', Arial, sans-serif;
  --texttitle: 'manropebold', Arial, sans-serif;
  --cursive: 'cursive'; 

}

  * {
    box-sizing: border-box;
  }

a {
    color: var(--black);
    text-decoration: none;
  }

  body {
    /* padding: 0 250px 0 250px; */
    margin: 0;
    width: 100%;
    min-height: 1000px;
    justify-self: center;
    background-image: linear-gradient(to right top, #33363b, #272c2f, #1e2223, #161918, #0c0d0c);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    
    p{
      font-family: var(--textbody);
      font-size: 16px;
      color: var(--gray);
    }

    h1, h2, h3 {
      font-family: var(--texttitle);
      color: var(--black);
    }
    
  }

  .welcome {
    height: 500px;
    background-image: url(resources/welcome/bg3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
  }

  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    padding: 0 40px;

    h1, h2 {
      color: var(--white);
    }

    

    #menuBtn {
      display: none;
    }

    #rightmenu {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 30px;
      color: var(--white);

      input[type="text"] {
        width: 100%;
        height: 25px;
        border-radius: 8px;
        padding: 15px;
        border: solid;
        border-color: var(--white);
        background-color: transparent;
        color: var(--white);
        
      }
    }

    a {
      color: var(--white);
    }
  }

  #welcomecenter {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 60px;
      color: var(--orange);
      -webkit-text-stroke: 1px var(--white);
      justify-self: center;
    }

    input[type="text"] {
      width: 400px;
      height: 40px;
      border-radius: 10px;
      padding: 25px;
      background-color: var(--white);

      
    }

    
  }


  /* No Results Styling */
.no-results-container {
    grid-column: 1 / -1;
    text-align: center;
    background-color: transparent;
    padding: 50px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.no-results-image {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
    opacity: 0.7;
}

.no-results-message {
    font-size: 1.2rem;
    color: var(--white);
    font-weight: 500;
}

  .searchbar {
      display: flex;
      align-items: center;
      justify-content: center;
      
      button {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        border: var(--black);
        padding: 10px;
        background-color: var(--orange);

        img {
          width: 20px;
          justify-self: center;
          align-self: center;
        }
      }
    }

.cursive {
  font-family: var(--cursive);
}

.ttitle {
  font-family: var(--cursive);
  color: var(--orange);
  border-bottom: 2px solid var(--white);
  margin-bottom: 30px;

}


.recipes {
  margin: 60px;
  justify-self: center;

  .recipegrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto);  
    gap: 60px;

    .recipebox {
      background-color: var(--white);
      justify-items: center;
      width: 450px;
      border-radius: 25px;
      cursor: pointer;
      position: relative;

      p {
        margin: 0;
      }

      h2 {
        margin-bottom: 0;
      }

      img{
      width: 450px;
      height: auto;
      border-top-left-radius: 25px;
      object-fit: cover;
      transition: filter 0.4s ease, transform 0.4s ease;
    }

    .recipetext {
      padding: 25px;
    }
 
  }

  .recipebox:hover img {
      filter: brightness(50%);

    }

} 
}



/* results page */
.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;

  img {
    width: 400px;
  }

  h2 {
    color: var(--white);
  }

}


/* help */
.helpbody {
  min-height: 700px;
}


footer {
    background-image: linear-gradient(var(--white), var(--gray));
    color: var(--black);
    padding: 50px 250px;
    margin: 0;
    justify-self: stretch;
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);

   
      


  h2 {
    justify-self: center;
    margin: 40px;
  }



}

/* media queries */

/* Large Desktops */
@media (max-width: 1400px) {
  body {
    padding: 0; 
  }

  .welcome {
    height: 500px; 
  }

  header {
    padding: 0 40px;

    .toprow h1 {

      justify-self: center;
    }
    
    #rightmenu {
      gap: 30px;
      
      input[type="text"] {
        width: 300px; 
        height: 30px;
      }
    }
  }

  #welcomecenter {
    h1 {
      font-size: 58px; 
    }

    input[type="text"] {
      width: 450px; 
      height: 40px;
    }

    #searchbar {
      button {
        width: 50px;
        height: 50px;
        
        img {
          width: 22px;
        }
      }
    }
  }

  .recipes {
    margin: 60px 80px; 
  }

  .recipes .recipegrid {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; 
  }

  .recipes .recipegrid .recipebox {
    width: 100%;
    max-width: 380px; 
    
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }

  .recipes .recipegrid .recipebox .recipetext {
    padding: 22px; 
    
    h2 {
      font-size: 22px;
    }
    
    p {
      font-size: 15px;
    }
  }

  .results {
    margin: 60px 80px;
    
    img {
      width: 650px; 
      max-width: 80%;
    }
    
    h2 {
      font-size: 32px;
    }
  }

  footer {
    padding: 50px 200px; 
  }

  .ttitle {
    font-size: 42px; 
    margin-bottom: 35px;
  }

  .helpbody {
    min-height: 700px;
  }
}

/* Big Tablets */
@media (max-width: 1024px) {
  body {
    padding: 0;
  }

  .welcome {
    height: 450px;
  }

  header {
    padding: 0 35px;
    
    #rightmenu {
      gap: 25px;
      
      input[type="text"] {
        width: 250px;
        height: 30px;
      }
    }
  }

  #welcomecenter {
    h1 {
      font-size: 52px;
    }

    input[type="text"] {
      width: 400px;
      height: 38px;
    }

    #searchbar {
      button {
        width: 48px;
        height: 48px;
        
        img {
          width: 20px;
        }
      }
    }
  }

  .recipes {
    margin: 50px;
  }

  .recipes .recipegrid {
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
  }

  .recipes .recipegrid .recipebox {
    width: 100%;
    max-width: 280px; 
    
    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
    }
  }

  .recipes .recipegrid .recipebox .recipetext {
    padding: 20px;
    
    h2 {
      font-size: 20px;
    }
    
    p {
      font-size: 14px;
    }
  }

  .results {
    margin: 50px;
    
    img {
      width: 70%;
      max-width: 600px;
    }
    
    h2 {
      font-size: 28px;
    }
  }

  footer {
    padding: 45px 120px;
  }

  .ttitle {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .helpbody {
    min-height: 650px;
  }
}



/* Small Tablets */
@media (max-width: 770px) {
  body {
    padding: 0;
  }

  .welcome {
    height: 400px;
  }

  header {
    padding: 0 25px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    
    #rightmenu {
      /* gap: 20px; */
      
      input[type="text"] {
        width: 200px;
        height: 30px;
      }
    }
  }

  #welcomecenter {
    h1 {
      font-size: 48px;
    }

    input[type="text"] {
      width: 350px;
      height: 35px;
    }

    #searchbar {
      button {
        width: 45px;
        height: 45px;
        
        img {
          width: 18px;
        }
      }
    }
  }

  .recipes {
    margin: 40px;
  }

  .recipes .recipegrid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns instead of 3 */
    gap: 40px;
  }

  .recipes .recipegrid .recipebox {
    width: 100%;
    max-width: 320px;
    
    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }

  .recipes .recipegrid .recipebox .recipetext {
    padding: 20px;
    
    h2 {
      font-size: 20px;
    }
    
    p {
      font-size: 14px;
    }
  }

  .results {
    margin: 40px;
    
    img {
      width: 80%;
      max-width: 500px;
    }
    
    h2 {
      font-size: 24px;
    }
  }

  footer {
    padding: 40px 80px;
  }

  .ttitle {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .helpbody {
    min-height: 600px;
  }
}



/* Mobile screens */
@media (max-width: 550px) {


  body {
    padding: 0;

    
  }

  .welcome {
    height: 300px;
    
  }

  

  header {
    padding: 5px 15px;
    flex-direction: column;
    text-align: center;
    position: fixed;
    z-index: 9999;
    background-color: var(--charcoal);

    .toprow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      h1 {
        margin: 0;
        font-size: 20px; 
      }
    }

    /* hide full nav initially */
    #rightmenu {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      text-align: center;
      padding-top: 15px;
      animation: slideDown 0.3s ease forwards;

      h2 {
        margin: 0;
        font-size: 18px; 
      }
    }

    /* show nav when active */
    #rightmenu.open {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    /* hamburger icon style */
    #menuBtn {
      font-size: 32px;
      cursor: pointer;
      display: block;
    }
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  #rightmenu input[type="text"] {
    width: 90%;
    height: 35px;
    border: 1px solid #0c0d0c; 
    color: var(--black);
    background-color: var(--white); 
  }

  #welcomecenter {
    padding: 20px;

    .welcometxt {
      margin-top: 50px;
    }
  }

  #welcomecenter h1 {
    font-size: 32px;
    text-align: center; 
  }

  #welcomecenter input[type="text"] {
    width: 100%;
    height: 35px;
    padding: 15px;
  }

  #welcomecenter #searchbar {
    width: 100%; 
    flex-direction: column; 
    gap: 10px; 
  }

  #welcomecenter #searchbar button {
    width: 100%; 
    height: 40px;
    border-radius: 10px; 
  }

  .recipes {
    margin: 20px;
  }

  .recipes .recipegrid {
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center; 
  }

  .recipes .recipegrid .recipebox {
    width: 100%;
    max-width: 350px; 

    img {
      width: 100%; 
      height: 200px; 
      object-fit: cover; 
    }
  }

  .recipes .recipegrid .recipebox .recipetext {
    padding: 15px; 
  }

  .results {
    margin: 20px; 
    
    img {
      width: 100%; 
      max-width: 350px; 
    }
    
    h2 {
      text-align: center; 
      font-size: 20px; 
    }
  }

  footer {
    padding: 30px 20px;
    text-align: center;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    width: 100vw;
  }




  .ttitle {
    font-size: 24px; 
    text-align: center;
    margin-bottom: 20px; 
  }

  .helpbody {
    min-height: 500px; 
  }
}


@media (max-width: 360px) {
  #welcomecenter h1 {
    font-size: 28px; 
  }

  .recipes .recipegrid .recipebox {
    max-width: 300px; 
  }

  .recipes .recipegrid .recipebox img {
    height: 180px; 
  }

  footer {
    padding: 20px 15px; 
  }
}